<html lang='en'>
	{{!-- HEADER --}}
	{{>head}}

	<body class="bg-dark">
		{{!-- NAVBAR --}}
		{{>navbar}}

		{{!-- BODY --}}
		<div class='container'>
			{{{body}}}
		</div>

		{{!-- FOOTER --}}
		{{>footer}}
	</body>
</html>